<form name="article" action="/admin/article/<%= article.id %>/update" method="POST" onsubmit="return validateArticle()">
  <div>
    <label for="name">Artikelname:</label>
    <br>
    <input type="text" id="name" name="name" value="<%= article.name %>" required>
  </div>
  <div>
    <label for="description">Artikelbeschreibung:</label>
    <br>
    <textarea id="description" name="description" required><%= article.description %></textarea>
  </div>
  <div>
    <label for="price">Preis:</label>
    <br>
    <input type="number" id="price" min=0.01 step=0.01 name="price" required value="<%= article.price %>">
  </div>
  <div>
    <label for="description">Filter:</label>
    <br>
    <input type="text" id="filter" name="filter" required value="<%= article.filter %>" placeholder="baumwolle;polo;">
  </div>
  <br>
  <a  href="/article/<%=article.id %>/uploadImageForm" class="btn btn-primary">Bild Hochladen</a>
  <div>
    <br>
    <input type="submit" value="Submit">
  </div>
</form>
