<div class="container">
    <h1>Artikel</h1>
    <form action="/article/search" method="POST">
        <label>Suche: </label>
        <input type="text" value="" length="20" name="search">
        <br>
        <label for="price">Preis unter:</label>
        <input type="number" step="1" value="" name="price">
      
        <button class="search-button" type="submit">Suchen</button>
        <br>
    </form>
    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Preis</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <% articles.forEach(function(article){ %>
                    <tr>
                        <td>
                            <a class="show-button" href="/admin/article/<%= article.id %>/show">
                                <%= article.name %>
                            </a>
                        </td>
                        <td>
                            <%= article.description %>
                        </td>
                        <td>
                            <%= article.price %>
                        </td>
                        <td> <a class="edit-button" href="/admin/article/<%= article.id %>/edit"><i class="fa fa-edit icons" aria-hidden="true"></i></a></td>
                        <td> <a class="delete-button" href="/admin/article/<%= article.id %>/destroy"><i class="fa fa-trash icons" aria-hidden="true"></i></a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <a class="add-button" href="/admin/article/new"><b>Hinzufügen</b></a>
    </div>
</div>
</div>