<form name="variant" onsubmit="return validateVariant()" action="/admin/variant/<%= variant.id %>/update" method="POST">
    <div>
      <label for="name">Varianten Name:</label>
      <input type="text" id="name" name="name" required value="<%= variant.name %>">
    </div>
    <div>
      <label for="description">Filter:</label>
      <input type="text" id="filter" name="filter" placeholder="blue;" required value="<%= variant.filter %>">
    </div>
    <div>
      <input type="submit" value="Ändern">
    </div>
  </form>

  <br>
  <h3>
    Neues Bild hochladen
  </h3>
  <form id="uploadForm"
        enctype="multipart/form-data"
        action="/admin/variant/<%= variant.id %>/upload"
        method="post" name="uploadForm" novalidate>
      <input type="file" id="variantImage" name="variantImage"/>
      <div hidden>
        <p>
          <input type="number" id="id" name="id" value="<%= variant.id %>" required>
        </p>
      </div>
  <input class="btn btn-primary" type="submit" value="hochladen"/>
  </form>
  
  
  