<form name="variant" onsubmit="return validateVariant()" action="/admin/variant/<%= variant.id %>/update" method="POST">
    <div>
      <label for="name">Varianten Name:</label>
      <input type="text" id="name" name="name" required value="<%= variant.name %>">
    </div>
    <div>
      <label for="description">Filter:</label>
      <input type="text" id="filter" name="filter" placeholder="blue;" required value="<%= variant.filter %>">
    </div>
    <div>
      <input type="submit" value="Ändern">
    </div>
  </form>

  <br>
  <h2>Aktuelles Bild</h2>
  <img src="/images/<%= variant.id %>Upload.png" style="max-width: 50% !important;" class="img-thumbnail mx-auto d-block" alt="Responsive image">

  <br>
  <h3>
    Neues Bild hochladen
  </h3>
  <form id="uploadForm"
        enctype="multipart/form-data"
        action="/admin/variant/<%= variant.id %>/upload"
        method="post" name="uploadForm" novalidate>
      <input type="file" id="variantImage" name="variantImage"/>
  
  <input type="submit" value="hochladen"/>
  </form>
  
  
  